body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:  #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* ===========header========== */
.header {
}
.header-navigatoin {
}

.header-logo {
    
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    
}

.header-logo-cursive {
    color: #4d5ae5;
}
.header-logo-studio {
    color: #2e2f42;
}

.header-menu-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-list a:hover,
.header-menu-list a:focus {
    color: #404bbf
}

.header-menu-item {
}

   


.contacts {
    font-style: normal
}

.contacts-list a {
   
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    font-style: normal;
}
.contacts-list a:focus,
.contacts-list a:hover {
    color: #404bbf
}

.contacts-item {
}
/* =========hero============= */
.hero-logo {
   
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background: #2e2f42;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF 
    cursor: pointer 
}

/* ============categories======== */
.categories {
}
.categories-title {
}


.categories-list {
}
.categories-item {
}
.categories-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.categories-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ===============team========== */
.team {
    background-color: #F4F4FD
}
.team-title {
  
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.team-list {
    background-color: #FFFFFF
}
.team-item {
}
.team-images {
}
.team-subtitle {
  
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;    
}
.team-text {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* =============portfolio======== */



.Portfolio-list {
}
.Portfolio-item {

}
.Portfolio-imeges {
}
.Portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.Portfolio-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* =========foter========= */


.footer {
    background: #2e2f42;
}
.footer-item {
    font-family: "Raleway", sans-serif;
   
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}
.footer-text {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo-studio {
    color: #f4f4fd;
}
.footer-logo-web {
    color: #4d5ae5;
}